<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../tailwind.config.js"></script>
    <style type="text/tailwindcss">
      @layer components {
        .button {
          @apply rounded-lg text-button py-2 px-4 box-border border-0 flex justify-center items-center transition duration-1000 ease-in-out;
        }
        .button img {
          @apply w-5 h-5;
        }
        .button.primary {
          @apply bg-primary-base-default border-primary-base-default text-primary-on-high-emphasis hover:bg-primary-base-bright hover:border-primary-base-bright
          disabled:bg-primary-base-disabled disabled:text-primary-on-low-emphasis disabled:border-primary-base-disabled;
        }
        .button.secondary {
          @apply bg-secondary-base-default border-secondary-base-default text-secondary-on-high-emphasis hover:bg-secondary-base-bright hover:border-secondary-base-bright
          disabled:bg-secondary-base-dim disabled:text-secondary-on-low-emphasis disabled:border-secondary-base-dim;
        }
        .button.danger {
          @apply bg-alert-error-default border-alert-error-default text-alert-error-brighter hover:text-alert-error-bright hover:border-alert-error-dim
          disabled:border-alert-error-dim disabled:text-alert-error-bright;
        }
        .button.danger.dim {
          @apply hover:bg-alert-error-dim;
        }
        .button.medium {
          @apply h-8;
        }
        .button.small {
          @apply h-7;
        }
        .button.btn-outline {
          @apply border bg-base-transparent text-surface-on-high-emphasis hover:bg-base-transparent
          disabled:bg-base-transparent disabled:text-surface-on-low-emphasis  !important;
        }
        .button.filled-text-only {
          @apply border-0 bg-base-transparent disabled:bg-base-transparent disabled:text-surface-on-low-emphasis;
        }
        .button.text-only-outline {
          @apply border-base-transparent bg-base-transparent hover:border disabled:bg-base-transparent border-0 disabled:text-surface-on-low-emphasis;
        }
        .button.danger.small.disabled {
          @apply bg-alert-error-dim text-surface-on-low-emphasis;
        }

        /*LOADING */
        .button.loading > .text,
        .button.loading > .suffix {
          @apply hidden;
        }
        .loading.primary,
        .loading.primary.filled-text-only {
          @apply bg-primary-base-disabled;
        }
        .loading.primary.btn-outline,
        .loading.primary.btn-outline.button.text-only-outline {
          @apply border-primary-base-disabled;
        }
        .loading.secondary,
        .loading.secondary.filled-text-only {
          @apply bg-secondary-base-dim;
        }
        .loading.secondary.btn-outline,
        .loading.secondary.btn-outline.button.text-only-outline {
          @apply border-secondary-base-dim;
        }
        .loading.danger,
        .loading.danger.filled-text-only {
          @apply bg-alert-error-dim;
        }
        .loading.danger.btn-outline,
        .loading.danger.btn-outline.button.text-only-outline {
          @apply border-alert-error-dim;
        }
        .primary.focused {
          @apply hover:bg-primary-base-bright hover:border-primary-base-bright;
          box-shadow: 0px 0px 0px 4px rgba(36, 113, 237, 0.5);
        }
        .primary.filled-text-only.focused {
          @apply hover:bg-base-transparent;
        }
        .secondary.focused {
          box-shadow: 0px 0px 0px 4px rgba(68, 73, 84, 0.5);
        }
        .secondary.filled-text-only.focused {
          @apply hover:bg-base-transparent;
        }
        .danger.focused {
          box-shadow: 0px 0px 0px 4px rgba(204, 82, 95, 0.5);
        }
      }
    </style>
  </head>
  <body class="bg-surface-base-dim">
    <div class="flex m-2">
      <div class="flex">
        <div
          class="flex flex-col items-center gap-5 border-dashed border-l border-t border-b border-purple p-5"
        >
          <button class="button primary medium">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button primary small">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button btn-outline primary medium">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button btn-outline primary small">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button filled-text-only primary medium">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button filled-text-only primary small">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button btn-outline text-only-outline primary medium">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button btn-outline text-only-outline primary small">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button primary medium">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button primary small">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" /> </span
            ></span>
          </button>
          <button class="button medium primary btn-outline">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small primary btn-outline">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button medium primary filled-text-only">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small primary filled-text-only">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button medium primary btn-outline text-only-outline">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small primary btn-outline text-only-outline">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
        </div>
        <div
          class="flex flex-col items-center gap-5 border-dashed border-l border-t border-b border-purple p-5"
        >
          <button class="button secondary medium">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button secondary small">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button btn-outline secondary medium">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button btn-outline secondary small">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button filled-text-only secondary medium">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button filled-text-only secondary small">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button btn-outline text-only-outline secondary medium">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button btn-outline text-only-outline secondary small">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button secondary medium">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button secondary small">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button medium secondary btn-outline">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small secondary btn-outline">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button medium secondary filled-text-only">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small secondary filled-text-only">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button medium secondary btn-outline text-only-outline">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small secondary btn-outline text-only-outline">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
        </div>
        <div
          class="flex flex-col items-center gap-5 border-dashed border border-purple p-5"
        >
          <button class="button danger medium">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button danger small dim">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button btn-outline danger medium">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button btn-outline danger small">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button danger medium">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button danger small dim">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button medium danger btn-outline">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small danger btn-outline">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
        </div>
      </div>
      <div class="flex">
        <div
          class="flex flex-col items-center gap-5 border-dashed border-l border-t border-b border-purple p-5"
        >
          <button class="button medium primary" disabled>
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button small primary" disabled>
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button primary btn-outline medium" disabled>
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button btn-outline primary small" disabled>
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button filled-text-only primary medium" disabled>
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button filled-text-only primary small" disabled>
            <span class="mx-2"> Button Text </span>
          </button>
          <button
            class="button btn-outline text-only-outline primary medium"
            disabled
          >
            <span class="mx-2"> Button Text </span>
          </button>
          <button
            class="button btn-outline text-only-outline primary small"
            disabled
          >
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button primary medium" disabled>
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button primary small" disabled>
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" /> </span
            ></span>
          </button>
          <button class="button medium primary btn-outline" disabled>
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small primary btn-outline" disabled>
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button medium primary filled-text-only" disabled>
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small primary filled-text-only" disabled>
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button
            class="button medium primary btn-outline text-only-outline"
            disabled
          >
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button
            class="button small primary btn-outline text-only-outline"
            disabled
          >
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
        </div>
        <div
          class="flex flex-col items-center gap-5 border-dashed border-l border-t border-b border-purple last:border-r p-5"
        >
          <button class="button secondary medium" disabled>
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button secondary small" disabled>
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button btn-outline secondary medium" disabled>
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button btn-outline secondary small" disabled>
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button filled-text-only secondary medium" disabled>
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button filled-text-only secondary small" disabled>
            <span class="mx-2"> Button Text </span>
          </button>
          <button
            class="button btn-outline text-only-outline secondary medium"
            disabled
          >
            <span class="mx-2"> Button Text </span>
          </button>
          <button
            class="button btn-outline text-only-outline secondary small"
            disabled
          >
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button secondary medium" disabled>
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button secondary small" disabled>
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button medium secondary btn-outline" disabled>
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small secondary btn-outline" disabled>
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button medium secondary filled-text-only" disabled>
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small secondary filled-text-only" disabled>
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button
            class="button medium secondary btn-outline text-only-outline"
            disabled
          >
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button
            class="button small secondary btn-outline text-only-outline"
            disabled
          >
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
        </div>
        <div
          class="flex flex-col items-center gap-5 border-dashed border border-purple p-5"
        >
          <button class="button danger medium" disabled>
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button danger small dim" disabled>
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button btn-outline danger medium" disabled>
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button btn-outline danger small" disabled>
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button danger medium" disabled>
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button danger small" disabled>
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button medium danger btn-outline" disabled>
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small danger btn-outline" disabled>
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="flex m-2 mt-8">
      <div class="flex">
        <div
          class="flex flex-col items-center gap-5 border-dashed border-l border-t border-b border-purple p-5"
        >
          <button class="button primary medium loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button class="button primary small loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button class="button btn-outline primary medium loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button class="button btn-outline primary small loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button class="button filled-text-only primary medium loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button class="button filled-text-only primary small loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button
            class="button btn-outline text-only-outline primary medium loading"
          >
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button
            class="button btn-outline text-only-outline primary small loading"
          >
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button class="button primary medium loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button primary small loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" /> </span
            ></span>
          </button>
          <button class="button medium primary btn-outline loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small primary btn-outline loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button medium primary filled-text-only loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small primary filled-text-only loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button
            class="button medium primary btn-outline text-only-outline loading"
          >
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button
            class="button small primary btn-outline text-only-outline loading"
          >
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
        </div>
        <div
          class="flex flex-col items-center gap-5 border-dashed border-l border-t border-b border-purple p-5"
        >
          <button class="button secondary medium loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button class="button secondary small loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button class="button btn-outline secondary medium loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button class="button btn-outline secondary small loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button class="button filled-text-only secondary medium loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button class="button filled-text-only secondary small loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button
            class="button btn-outline text-only-outline secondary medium loading"
          >
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button
            class="button btn-outline text-only-outline secondary small loading"
          >
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button class="button secondary medium loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button secondary small loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" /> </span
            ></span>
          </button>
          <button class="button medium secondary btn-outline loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small secondary btn-outline loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button medium secondary filled-text-only loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small secondary filled-text-only loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button
            class="button medium secondary btn-outline text-only-outline loading"
          >
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button
            class="button small secondary btn-outline text-only-outline loading"
          >
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
        </div>
        <div
          class="flex flex-col items-center gap-5 border-dashed border border-purple p-5"
        >
          <button class="button danger medium loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button class="button danger small dim loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button class="button btn-outline danger medium loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button class="button btn-outline danger small loading">
            <span class="text mx-2"> Button Text </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button class="button danger medium loading">
            <span class="text mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button class="button danger small dim loading">
            <span class="text mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button class="button medium danger btn-outline loading">
            <span class="text mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
          <button class="button small danger btn-outline loading">
            <span class="text mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
            <span class="icon">
              <img src="../assets/Outline/Loader,Spinner.svg" />
            </span>
          </button>
        </div>
      </div>
      <div class="flex">
        <div
          class="flex flex-col items-center gap-5 border-dashed border-l border-t border-b border-purple p-5"
        >
          <button class="button medium primary focused">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button small primary focused">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button primary btn-outline medium focused">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button btn-outline primary small focused">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button filled-text-only primary medium focused">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button filled-text-only primary small focused">
            <span class="mx-2"> Button Text </span>
          </button>
          <button
            class="button btn-outline text-only-outline primary medium focused"
          >
            <span class="mx-2"> Button Text </span>
          </button>
          <button
            class="button btn-outline text-only-outline primary small focused"
          >
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button primary medium focused">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button primary small focused">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" /> </span
            ></span>
          </button>
          <button class="button medium primary btn-outline focused">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small primary btn-outline focused">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button medium primary filled-text-only focused">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small primary filled-text-only focused">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button
            class="button medium primary btn-outline text-only-outline focused"
          >
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button
            class="button small primary btn-outline text-only-outline focused"
          >
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
        </div>
        <div
          class="flex flex-col items-center gap-5 border-dashed border-l border-t border-b border-purple p-5"
        >
          <button class="button medium secondary focused">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button small secondary focused">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button secondary btn-outline medium focused">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button btn-outline secondary small focused">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button filled-text-only secondary medium focused">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button filled-text-only secondary small focused">
            <span class="mx-2"> Button Text </span>
          </button>
          <button
            class="button btn-outline text-only-outline secondary medium focused"
          >
            <span class="mx-2"> Button Text </span>
          </button>
          <button
            class="button btn-outline text-only-outline secondary small focused"
          >
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button secondary medium focused">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button secondary small focused">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" /> </span
            ></span>
          </button>
          <button class="button medium secondary btn-outline focused">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small secondary btn-outline focused">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button medium secondary filled-text-only focused">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small secondary filled-text-only focused">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button
            class="button medium secondary btn-outline text-only-outline focused"
          >
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button
            class="button small secondary btn-outline text-only-outline focused"
          >
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
        </div>
        <div
          class="flex flex-col items-center gap-5 border-dashed border border-purple p-5"
        >
          <button class="button danger medium focused">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button danger small dim focused">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button btn-outline danger medium focused">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button btn-outline danger small focused">
            <span class="mx-2"> Button Text </span>
          </button>
          <button class="button danger medium focused">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button danger small focused">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button medium danger btn-outline focused">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
          <button class="button small danger btn-outline focused">
            <span class="mx-2"> Button Text </span>
            <span class="suffix">
              <span class="icon">
                <img src="../assets/Outline/Mic/Mic On.svg" />
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
